.wrapper
  .profile-wrapper
    %h1 マイページ
    %p プロフィール画面
    - if @user.image
      =image_tag "/user_images/#{@user.image}"
    - else
      =image_tag '/user_images/no-image.gif'
    -# - name =@user.name
    -# - email = @user.email
    %p 名前: #{@user.name}
    %p メールアドレス: #{@user.email}
    %p= link_to "プロフィールを編集する", edit_user_registration_path
    %p= link_to "退会する", edit_user_registration_path
