<h1>とりあえずユーザー登録しよ</h1>
<h1><%= link_to "新規登録", new_user_registration_path %></h1>
<h1><%= link_to "新規登録", new_user_registration_path %></h1>
<h1><%= link_to "新規登録", new_user_registration_path %></h1>
<h1><%= link_to "新規登録", new_user_registration_path %></h1>
<h1><%= link_to "新規登録", new_user_registration_path %></h1>
<h1><%= link_to "新規登録", new_user_registration_path %></h1>
