!!! 5
%html
  %head
    %title ChatApplication
    %link{ href: '//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css', rel: 'stylesheet' }/
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = javascript_include_tag '/assets/javascripts/boot.js'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    .navbar
      .container
        #logo= link_to "Chat App", root_path
        - if user_signed_in?
          %ul.header-right
            %li= link_to "ユーザー検索", users_path
            %li= link_to "マイページ", current_user
            %li= link_to "チャット", messages_path
            %li= link_to "ログアウト", destroy_user_session_path, method: :delete
        - else
          %ul.header-right
            -# %li= link_to "概要", "#"
            %li= link_to "新規登録", new_user_registration_path
            %li= link_to "ログイン", new_user_session_path
    .container
      %p.alert.alert-success= notice
      %p.alert.alert-danger= alert
      = yield
    -# .container
    -#   %footer.footer
    -#     .small
    -#       &copy; C.N.
