!!! 5
%html
  %head
    %title ChatApplication
    %link{ href: '//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css', rel: 'stylesheet' }/
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = javascript_include_tag '/assets/javascripts/boot.js'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    .navbar
      .container
        #logo= link_to "Chat App", "#"
        - if user_signed_in?
          %ul.header-right
            %li= link_to "ユーザー一覧", "#"
            %li= link_to "text", "#"
            %li= link_to "ログアウト", "#", method: :delete
        - else
          %ul.header-right
            %li= link_to "概要", "#"
            %li= link_to "新規登録", "#"
            %li= link_to "ログイン", "#"
    .container
      %p.alert.alert-success= notice
      %p.alert.alert-danger= alert
      = yield
    .container
      %footer.footer
        .small
          &copy; C.N.
